/*h1{
    font-family: 'Orelega One', cursive;
}
.form-control{
    box-shadow: none !important;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid black;
}
.form-control:focus{
    border-bottom: 1px solid black;
}
input{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
.accordion-button{
    box-shadow: none !important;
}
.accordion-button:hover{
    color:black;
    background-color:lightblue;
}
.accordion-button:focus{
    background-color: lightblue;
}
button{
    box-shadow: none !important;
}
button:hover{
    color:lightgray;
}*/

.head{
    font-weight:normal;
}

.footer{
    position: absolute;
    bottom: 0px;
}
